.controls{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    // size __image element. default value, before useEffect(... getComputedStyle ...)
    --ico_height: 0px;
    --ico_width: 0px;
    --lines_gap: 20px;

    // lines
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__line{
        border: 1px solid #C6C6C6;
        &-input{
            margin-right: var(--lines_gap);
            &-last{
                margin-right: 0;
            }
            &-long{
                height: calc(var(--row_height, 0px) + 2px);
            }
            &-short{
                height: calc(calc(var(--row_height, 0px) - var(--ico_height, 0px)) / 2 + 2px);
            }
        }
        &-dash{
            width: 20px;
        }
        &-output{
            height: calc(calc(var(--row_height, 0px) - var(--ico_height, 0px)) / 2 + 2px);
        }




        // &-vertical{
        //     height: calc(calc(var(--row_height, 0px) - var(--ico_height, 0px)) / 2 + 2px);
        //     top: -1px;
        //     right: 1px;
        // }
        // &-horizontal{
        //     width: 20px;
        //     right: -1px;
        // }
    }

    // image
    &__background_images{
    }
    &__image{
        position: relative;
        opacity: .3;
    }
}