.table{
    border-collapse: collapse;
    width: 100%;
    --row_height: 60px;
    &__caption{
        text-align: left;
    }
    &__colgroup{
        &-ui{
            min-width: max-content;
            width: 110px;
        }
        &-title{
        }
        &-other{
            min-width: max-content;
            width: 200px;
        }
    }
    &__head{
        color: var(--content__color-blur);
        font-size: .7778rem;
        font-weight: 400;
        text-align: left;
        &__item{
            height: var(--row_height);
            padding-left: 0.6667rem;
        }
    }
    &__body{
        color: var(--content__color-focus);
        &__item{
            height: var(--row_height);
            padding-left: 0.6667rem;
            border-top: solid 1px var(--ui__color);
        }
    }
}